rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Root-level collections
    match /{document=**} {
      allow read, write: if true;
    }

    // Company rules
    match /companies/{companyId} {
      allow read, write: if true;

      // Store rules
      match /stores/{storeId} {
        allow read, write: if true;

        // Invoice rules
        match /invoices/{userId}/{document=**} {
          allow read, write: if true;
        }

        // Saved invoice rules
        match /savedInvoices/{invoiceId} {
          allow read, write: if true;
        }

        // Store product rules
        match /products/{productId} {
          allow read, write: if true;
        }
      }

      // Warehouse rules
      match /warehouses/{warehouseId} {
        allow read, write: if true;

        // Box rules
        match /boxes/{boxId} {
          allow read, write: if true;
        }

        // Warehouse product rules
        match /products/{productId} {
          allow read, write: if true;
        }
      }

      // Company user rules
      match /users/{userId} {
        allow read, write: if true;
      }
    }

    // User rules
    match /users/{userId} {
      allow read, write: if true;
    }
  }
}